@model List<TourBookedViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour Bookings</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-center">Tour Bookings</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <thead class="table-responsive-xl">
                            <tr>
                                <th>Tour name</th>
                                <th>Client name</th>
                                <th>Booking user phone number</th>
                                <th>Email</th>
                                <th>Count of people</th>
                                <th>Accept Or Refuse</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count <= 0)
                            {
                                <tr>
                                    <td colspan="8" class="text-center text-muted">There is no booking for this tour</td>
                                </tr>
                            }

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TourName</td>
                                    <td>@item.BookingUserName</td>
                                    <td>@item.BookingUserPhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.CountOfPeople</td>
                                    <td>
                                        <form asp-action="UpdateBookingStatus" asp-controller="TourBooking" asp-route-bookedId="@item.Id" method="post">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <button type="submit" name="ActionType" value="ToggleBooked" class="btn btn-sm @(item.Actions ? "btn-success" : "btn-secondary")">
                                                @(item.Actions ? "Booked" : "Refused")
                                            </button>
                                        </form>
                                    </td>
                                    
                                    <td>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>